In [39]:
import pandas as pd
import numpy as np

In [40]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',100)

In [97]:
orders = pd.read_csv("orders.csv")
vendors = pd.read_csv("vendors.csv")
customers = pd.read_csv("customers.csv")

In [98]:
print("Orders:", orders.shape)
print("Customers:", customers.shape)
print("Vendors:", vendors.shape)

Orders: (3000, 10)
Customers: (1000, 8)
Vendors: (500, 6)

In [99]:
orders.head(5)

,order_id,customer_id,vendor_id,order_date,product_category,order_amount,payment_method,delivery_status,customer_rating,region
0,ORD_00001,CUST_815,VEND_105,01-28-2023,Electronics,795.39,Debit Card,Delivered,4.0,Africa
1,ORD_00002,CUST_879,VEND_150,10-24-2025,Home Decor,883.65,Debit Card,Cancelled,4.3,South America
2,ORD_00003,CUST_137,VEND_289,02-09-2024,ClothInG,215.89,Debit Card,Cancelled,3.4,North America
3,ORD_00004,CUST_96,VEND_277,2024/12/16,Electronics,889.67,Cash,reTuRNED,2.3,North America
4,ORD_00005,CUST_917,VEND_352,2023/04/13,Sports,507.27,Debit Card,Delivered,1.3,Asia

In [100]:
vendors.head(5)

  vendor_id vendor_name onboard_date avg_rating  total_products         region
0    VEND_1    Vendor_1   2023-07-11        NaN           401.0  North America
1    VEND_2    Vendor_2   2018-01-11        3.7          9899.0           Asia
2    VEND_3    Vendor_3   2020-07-05        2.3           916.0         Africa
3    VEND_4    Vendor_4   2018-03-21          -             NaN  North America
4    VEND_5    Vendor_5   2018-07-29        3.7           531.0  North America

In [101]:
customers.head(5)

,customer_id,customer_name,join_date,gender,age,city,region,churn_status
0,CUST_1,Customer_1,2024-11-07,Other,NaN,Paris,Africa,Active
1,CUST_2,Customer_2,2020-02-20,Female,22.0,TOkYO,Africa,Churned
2,CUST_3,Customer_3,2022-11-15,Mae,57.0,São Paulo,North America,Active
3,CUST_4,Customer_4,2023-02-23,Male,NaN,Paris,North America,Active
4,CUST_5,Customer_5,2023-05-31,Male,NaN,Berlin,Europe,Active

In [102]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          3000 non-null   object
 1   customer_id       3000 non-null   object
 2   vendor_id         3000 non-null   object
 3   order_date        3000 non-null   object
 4   product_category  3000 non-null   object
 5   order_amount      2858 non-null   float64
 6   payment_method    3000 non-null   object
 7   delivery_status   3000 non-null   object
 8   customer_rating   2952 non-null   object
 9   region            2919 non-null   object
dtypes: float64(1), object(9)
memory usage: 234.5+ KB

In [103]:
orders.describe()

       order_amount
count   2858.000000
mean     516.766886
std      286.765170
min        6.190000
25%      269.360000
50%      526.755000
75%      768.625000
max      999.250000

In [104]:
orders.isnull().sum()

order_id              0
customer_id           0
vendor_id             0
order_date            0
product_category      0
order_amount        142
payment_method        0
delivery_status       0
customer_rating      48
region               81
dtype: int64

In [105]:
orders.columns = orders.columns.str.strip().str.lower().str.replace(' ', '_')

In [106]:
orders['order_date'] = pd.to_datetime(orders['order_date'],errors='coerce',infer_datetime_format=True)

C:\Users\ARPITA\AppData\Local\Temp\ipykernel_20540\2936733338.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  orders['order_date'] = pd.to_datetime(orders['order_date'],errors='coerce',infer_datetime_format=True)

In [107]:
orders['order_amount'] = orders['order_amount'].fillna(orders['order_amount'].mean())

In [108]:
orders['customer_rating'] = pd.to_numeric(orders['customer_rating'], errors='coerce')

In [109]:
orders['customer_rating'] = orders['customer_rating'].fillna(method='ffill')

C:\Users\ARPITA\AppData\Local\Temp\ipykernel_20540\3878046147.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  orders['customer_rating'] = orders['customer_rating'].fillna(method='ffill')

In [110]:
cols_to_clean = ['product_category', 'region', 'payment_method', 'delivery_status']
orders[cols_to_clean] = orders[cols_to_clean].apply(lambda x: x.astype(str).str.strip().str.lower())

In [111]:
orders['product_category'].unique()

array(['electronics', 'home decor', 'clothing', 'sports', 'beauty',
       'books', 'groceries', 'groeries', 'spors', 'hoe decor', 'clothig',
       'grocris', 'ome decor', 'clohing', 'spots', 'bks', 'ports',
       'beuty', 'boos', 'cothing', 'clothin', 'bauty', 'lectronics',
       'sprts', 'clothng', 'hom dcor', 'book', 'ooks', 'lothing',
       'eletronis', 'grceries', 'sorts', 'sport', 'home deco', 'goceies',
       'beaut', 'elctronics', 'hme decr', 'electonics', 'electroics',
       'cloting', 'electronic', 'elecronics', 'grocerie', 'beauy',
       'beaty', 'electrnics', 'homedecor', 'eauty', 'eectronics',
       'groceres', 'clthing', 'home ecor', 'roceries'], dtype=object)

In [112]:
corrections = {
    'groeries': 'groceries', 'grocris': 'groceries', 'grocerie': 'groceries',
    'grceries': 'groceries', 'goceies': 'groceries', 'groceres': 'groceries', 'roceries': 'groceries',

    'spors': 'sports', 'spots': 'sports', 'ports': 'sports', 'sport': 'sports', 'sprts': 'sports', 'sorts': 'sports',

    'clothig': 'clothing', 'cothing': 'clothing', 'clohing': 'clothing', 'clothin': 'clothing',
    'clothng': 'clothing', 'clthing': 'clothing', 'cloting': 'clothing', 'lothing': 'clothing',

    'hoe decor': 'home decor', 'hom dcor': 'home decor', 'home deco': 'home decor',
    'hme decr': 'home decor', 'home ecor': 'home decor', 'homedecor': 'home decor', 'ome decor': 'home decor',

    'beuty': 'beauty', 'bauty': 'beauty', 'beaty': 'beauty', 'beauy': 'beauty',
    'beaut': 'beauty', 'eauty': 'beauty',

    'boos': 'books', 'bks': 'books', 'book': 'books', 'ooks': 'books',

    'electonics': 'electronics', 'electroics': 'electronics', 'eletronis': 'electronics', 
    'lectronics': 'electronics', 'elctronics': 'electronics', 'elecronics': 'electronics',
    'eectronics': 'electronics', 'electronic': 'electronics','electrnics':'electronics'
}

In [113]:
orders['product_category'] = orders['product_category'].replace(corrections)

In [114]:
orders['product_category'] = orders['product_category'].str.strip().str.lower()

In [115]:
orders['product_category'].value_counts()

product_category
sports         448
clothing       439
electronics    439
home decor     429
groceries      424
books          421
beauty         400
Name: count, dtype: int64

In [116]:
orders.isnull().sum().head()

order_id               0
customer_id            0
vendor_id              0
order_date          1580
product_category       0
dtype: int64

In [117]:
orders = orders.sort_values(by='order_date')

In [118]:
orders['order_date'] = orders['order_date'].fillna(method='ffill')

C:\Users\ARPITA\AppData\Local\Temp\ipykernel_20540\203801310.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  orders['order_date'] = orders['order_date'].fillna(method='ffill')

In [119]:
orders.isnull().sum().head()

order_id            0
customer_id         0
vendor_id           0
order_date          0
product_category    0
dtype: int64

In [120]:
orders['order_date'].head(10)

915    2023-01-01
1022   2023-01-02
2250   2023-01-03
402    2023-01-03
433    2023-01-03
2216   2023-01-04
1611   2023-01-04
2174   2023-01-04
2467   2023-01-04
778    2023-01-05
Name: order_date, dtype: datetime64[ns]

In [121]:
orders['region'].value_counts()

region
asia             573
south america    563
north america    554
europe           549
africa           547
nan               81
asa               10
asi                8
noth ameica        8
erope              8
sia                6
afrca              6
euroe              5
afria              5
urope              5
frica              5
nort america       5
south amrica       4
aia                4
north ameria       4
europ              4
arica              4
north merica       3
afica              3
outh america       3
eurpe              3
south amerca       3
euope              2
souh america       2
nrth america       2
norh america       2
south ameria       2
suth america       2
sout america       2
south aerica       2
north amerca       2
north aerica       2
north amrica       1
orth america       1
afric              1
soth america       1
south merica       1
north americ       1
northamerica       1
Name: count, dtype: int64

In [122]:
orders['region'] = orders['region'].astype(str).str.strip().str.lower()

In [246]:
region_corrections = {
    # Asia
    'asia': 'asia', 'asa': 'asia', 'asi': 'asia', 'sia': 'asia', 'aia': 'asia',

    # Africa
    'africa': 'africa', 'afrca': 'africa', 'afria': 'africa', 'frica': 'africa',
    'afica': 'africa', 'afric': 'africa', 'arica': 'africa',

    # Europe
    'europe': 'europe', 'erope': 'europe', 'euroe': 'europe', 'urope': 'europe',
    'europ': 'europe', 'eurpe': 'europe', 'euorpe': 'europe', 'euope': 'europe',

    # North America
    'north america': 'north america', 'noth ameica': 'north america',
    'nort america': 'north america', 'north ameria': 'north america',
    'north merica': 'north america', 'north aerica': 'north america',
    'nrth america': 'north america', 'norh america': 'north america',
    'north amerca': 'north america', 'north amrica': 'north america',
    'north americ': 'north america', 'orth america': 'north america',
    'northamerica': 'north america',

    # South America
    'south america': 'south america', 'south amrica': 'south america',
    'outh america': 'south america', 'souh america': 'south america',
    'suth america': 'south america', 'sout america': 'south america',
    'south ameria': 'south america', 'south amerca': 'south america',
    'south aerica': 'south america', 'south merica': 'south america',
    'soth america':'south america','south amric': 'south america','south americ': 'south america'
}

In [247]:
orders['region'] = orders['region'].replace(region_corrections)

In [248]:
orders['region'] = orders['region'].replace('nan', np.nan)

In [249]:
orders['region'] = orders['region'].fillna('unknown')

In [250]:
orders['region'].value_counts()

region
asia             601
north america    586
south america    585
europe           576
africa           571
unknown           81
Name: count, dtype: int64

In [251]:
orders['payment_method'].value_counts()

payment_method
debit card     638
cash           597
credit card    595
paypal         589
upi            581
Name: count, dtype: int64

In [252]:
orders['payment_method'] = orders['payment_method'].astype(str).str.strip().str.lower()

In [253]:
payment_corrections = {
    # credit card
    'credit card': 'credit card', 'creditcard': 'credit card', 'credit crd': 'credit card',
    'crdit card': 'credit card', 'creit car': 'credit card', 'credt card': 'credit card',
    'credi card': 'credit card', 'redit ard': 'credit card', 'cedit cad': 'credit card',

    # debit card
    'debit card': 'debit card', 'debitcard': 'debit card', 'debit cad': 'debit card',
    'debit crd': 'debit card', 'debi card': 'debit card', 'deit card': 'debit card',
    'debit car': 'debit card', 'debit ard': 'debit card', 'dbit card': 'debit card',
    'ebit card': 'debit card',

    # cash
    'cash': 'cash', 'cas': 'cash', 'csh': 'cash', 'cah': 'cash', 'ash': 'cash',

    # paypal
    'paypal': 'paypal', 'paypa': 'paypal', 'papal': 'paypal', 'pypl': 'paypal',
    'ayal': 'paypal', 'payapl': 'paypal',

    # upi
    'upi': 'upi', 'ui': 'upi', 'up': 'upi', 'pi': 'upi'
}

In [254]:
orders['payment_method']= orders['payment_method'].replace(payment_corrections)

In [255]:
orders['payment_method'].value_counts()

payment_method
debit card     638
cash           597
credit card    595
paypal         589
upi            581
Name: count, dtype: int64

In [256]:
orders['delivery_status'].value_counts()

delivery_status
returned     1017
delivered     993
cancelled     990
Name: count, dtype: int64

In [257]:
delivery_corrections = {
    # Delivered variants
    'delivered': 'delivered', 'delvered': 'delivered', 'deliverd': 'delivered',
    'deivered': 'delivered', 'dlivrd': 'delivered', 'delivere': 'delivered',
    'deliveed': 'delivered', 'deliered': 'delivered', 'elivered': 'delivered',

    # Returned variants
    'returned': 'returned', 'rturnd': 'returned', 'retuned': 'returned',
    'retured': 'returned', 'reurned': 'returned', 'retrned': 'returned',
    'returne': 'returned', 'eturned': 'returned',

    # Cancelled variants
    'cancelled': 'cancelled', 'canclld': 'cancelled', 'cncelled': 'cancelled',
    'cacelled': 'cancelled', 'cancelle': 'cancelled', 'canceed': 'cancelled',
    'canelled': 'cancelled', 'ancelled': 'cancelled'
}

In [258]:
orders['delivery_status'] = orders['delivery_status'].astype(str).str.strip().str.lower()

In [259]:
orders['delivery_status'] = orders['delivery_status'].replace(delivery_corrections)

In [260]:
orders['delivery_status'].value_counts()

delivery_status
returned     1017
delivered     993
cancelled     990
Name: count, dtype: int64

In [261]:
vendors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   vendor_id       500 non-null    object
 1   vendor_name     500 non-null    object
 2   onboard_date    500 non-null    datetime64[ns]
 3   avg_rating      500 non-null    float64
 4   total_products  500 non-null    float64
 5   region          500 non-null    object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 23.6+ KB

In [262]:
vendors.describe()

                     onboard_date  avg_rating  total_products
count                         500  500.000000      500.000000
mean   2021-06-08 04:36:28.800000    3.574453     4889.596000
min           2018-01-01 00:00:00    2.000000       12.000000
25%           2019-09-30 12:00:00    3.574453     1546.250000
50%           2021-04-22 12:00:00    3.574453     5489.500000
75%           2023-04-20 06:00:00    3.574453     6494.250000
max           2024-12-31 00:00:00    5.000000     9997.000000
std                           NaN    0.468145     2857.211371

In [263]:
vendors.head(10)

,vendor_id,vendor_name,onboard_date,avg_rating,total_products,region
0,VEND_1,vendor_1,2023-07-11,3.574453,401.0,north america
1,VEND_2,vendor_2,2018-01-11,3.700000,9899.0,asia
2,VEND_3,vendor_3,2020-07-05,2.300000,916.0,africa
3,VEND_4,vendor_4,2018-03-21,3.574453,5489.5,north america
4,VEND_5,vendor_5,2018-07-29,3.700000,531.0,north america
5,VEND_6,vendor_6,2024-03-13,3.574453,5489.5,north america
6,VEND_7,vendor_7,2018-03-01,3.574453,9833.0,north america
7,VEND_8,vendor_8,2023-02-05,3.574453,1784.0,north america
8,VEND_9,vendor_9,2019-03-21,3.200000,6283.0,asia
9,VEND_10,vendor_10,2023-04-17,3.574453,5489.5,africa

In [264]:
vendors.columns = vendors.columns.str.strip().str.lower().str.replace(' ', '_')

In [265]:
vendors.isnull().sum()

vendor_id         0
vendor_name       0
onboard_date      0
avg_rating        0
total_products    0
region            0
dtype: int64

In [266]:
vendors['vendor_name'] = vendors['vendor_name'].astype(str).str.strip().str.lower()

In [267]:
vendors['region'] = vendors['region'].astype(str).str.strip().str.lower().replace(region_corrections)

In [268]:
vendors['region'] = vendors['region'].replace('nan', np.nan).fillna('unknown')

In [269]:
vendors['onboard_date'] = pd.to_datetime(
    vendors['onboard_date'], errors='coerce', infer_datetime_format=True
)

C:\Users\ARPITA\AppData\Local\Temp\ipykernel_20540\1983031311.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  vendors['onboard_date'] = pd.to_datetime(

In [270]:
vendors['onboard_date'] = vendors['onboard_date'].fillna(method='ffill')

C:\Users\ARPITA\AppData\Local\Temp\ipykernel_20540\118481609.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  vendors['onboard_date'] = vendors['onboard_date'].fillna(method='ffill')

In [271]:
vendors['avg_rating'] = pd.to_numeric(vendors['avg_rating'], errors='coerce')

In [272]:
vendors['avg_rating'] = vendors['avg_rating'].fillna(vendors['avg_rating'].mean())

In [273]:
vendors['total_products'] = pd.to_numeric(vendors['total_products'], errors='coerce')

In [274]:
vendors['total_products'] = vendors['total_products'].fillna(vendors['total_products'].median())

In [275]:
vendors.isnull().sum()

vendor_id         0
vendor_name       0
onboard_date      0
avg_rating        0
total_products    0
region            0
dtype: int64

In [276]:
vendors.head()

,vendor_id,vendor_name,onboard_date,avg_rating,total_products,region
0,VEND_1,vendor_1,2023-07-11,3.574453,401.0,north america
1,VEND_2,vendor_2,2018-01-11,3.700000,9899.0,asia
2,VEND_3,vendor_3,2020-07-05,2.300000,916.0,africa
3,VEND_4,vendor_4,2018-03-21,3.574453,5489.5,north america
4,VEND_5,vendor_5,2018-07-29,3.700000,531.0,north america

In [277]:
customers.columns = customers.columns.str.strip().str.lower().str.replace(' ', '_')

In [278]:
customers['customer_name'] = customers['customer_name'].astype(str).str.strip().str.lower()

In [279]:
customers['join_date'] = pd.to_datetime(customers['join_date'], errors='coerce', infer_datetime_format=True)

C:\Users\ARPITA\AppData\Local\Temp\ipykernel_20540\550135057.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  customers['join_date'] = pd.to_datetime(customers['join_date'], errors='coerce', infer_datetime_format=True)

In [280]:
customers['join_date'] = customers['join_date'].fillna(method='ffill')

C:\Users\ARPITA\AppData\Local\Temp\ipykernel_20540\3915841303.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  customers['join_date'] = customers['join_date'].fillna(method='ffill')

In [281]:
customers['region'] = customers['region'].astype(str).str.strip().str.lower().replace(region_corrections)

In [282]:
customers['region'] = customers['region'].replace('nan', np.nan).fillna('unknown')

In [283]:
customers['city'] = customers['city'].astype(str).str.strip().str.lower()

In [284]:
customers['gender'].value_counts()

gender
other     353
male      337
female    310
Name: count, dtype: int64

In [285]:
customers['gender'] = customers['gender'].astype(str).str.strip().str.lower()

In [286]:
customers['gender'].value_counts()

gender
other     353
male      337
female    310
Name: count, dtype: int64

In [287]:
gender_corrections = {
    'male': 'male', 'mae': 'male', 'mal': 'male', 'mle': 'male', 'ale': 'male',
    'femle': 'female', 'female': 'female', 'femae': 'female', 'fmal': 'female', 'emale': 'female',
    'other': 'other', 'othe': 'other', 'oter': 'other', 'othr': 'other', 'oher': 'other', 'ther': 'other'
}

In [288]:
customers['gender'] = customers['gender'].replace(gender_corrections)

In [289]:
customers['gender'].value_counts()

gender
other     353
male      337
female    310
Name: count, dtype: int64

In [290]:
customers['gender'] = customers['gender'].replace('nan', np.nan).fillna('unknown')

In [291]:
customers['gender'].value_counts()

gender
other     353
male      337
female    310
Name: count, dtype: int64

In [292]:
customers['age'] = pd.to_numeric(customers['age'], errors='coerce')

In [293]:
customers['age'] = customers['age'].fillna(customers['age'].median())

In [294]:
customers['churn_status'] = customers['churn_status'].astype(str).str.strip().str.lower()

In [295]:
customers['churn_status'].value_counts()

churn_status
churned    519
active     481
Name: count, dtype: int64

In [296]:
churn_corrections = {
    # Active
    'active': 'active', 'actie': 'active', 'actve': 'active',
    'ative': 'active', 'activ': 'active', 'acive': 'active', 'ctive': 'active',

    # Churned
    'churned': 'churned', 'chrned': 'churned', 'churnd': 'churned',
    'curned': 'churned', 'churne': 'churned', 'hurned': 'churned',
    'chuned': 'churned'
}

In [297]:
customers['churn_status'] = customers['churn_status'].replace(churn_corrections)

In [298]:
customers['churn_status'] = customers['churn_status'].replace('nan', np.nan).fillna('unknown')

In [299]:
customers['churn_status'].value_counts()

churn_status
churned    519
active     481
Name: count, dtype: int64

In [300]:
# --- Step 1: Import Libraries ---
from sqlalchemy import create_engine
import pandas as pd

# --- Step 2: Define SQL Server Connection ---
server = "localhost,1433"             # Your server (add instance if needed)
database = "ecommerce_project"        # Your SQL Server database name

# --- Step 3: Create SQLAlchemy Engine for Windows Authentication ---
engine = create_engine(
    f"mssql+pyodbc://@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes"
)

print("✅ Connected to SQL Server successfully!")

# --- Step 4: Export Each Cleaned DataFrame ---
orders.to_sql("orders", con=engine, if_exists="replace", index=False)
print("✅ 'orders' table exported successfully.")

customers.to_sql("customers", con=engine, if_exists="replace", index=False)
print("✅ 'customers' table exported successfully.")

vendors.to_sql("vendors", con=engine, if_exists="replace", index=False)
print("✅ 'vendors' table exported successfully.")

# --- Step 5: Verify Upload (Test Read) ---
df_check = pd.read_sql("SELECT TOP 5 * FROM orders", con=engine)
print("✅ Verified: sample data from 'orders' table:")
print(df_check.head())

✅ Connected to SQL Server successfully!
✅ 'orders' table exported successfully.
✅ 'customers' table exported successfully.
✅ 'vendors' table exported successfully.
✅ Verified: sample data from 'orders' table:
    order_id customer_id vendor_id order_date product_category  order_amount  \
0  ORD_00916    CUST_833  VEND_488 2023-01-01           sports        624.40
1  ORD_01023    CUST_379  VEND_434 2023-01-02       home decor        438.59
2  ORD_02251    CUST_191  VEND_170 2023-01-03            books        477.88
3  ORD_00403    CUST_808  VEND_201 2023-01-03           sports        428.08
4  ORD_00434    CUST_228  VEND_322 2023-01-03           beauty        217.50

  payment_method delivery_status  customer_rating         region
0         paypal        returned              1.8         africa
1         paypal       delivered              3.6         europe
2     debit card       cancelled              2.6         africa
3           cash       delivered              2.0  north america
4         paypal       delivered              2.2           asia

In [301]:
print(customers['region'].unique())

['africa' 'north america' 'europe' 'asia' 'south america']